/* fuentes */

.roboto-light1{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-medium{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* estilos personalizados */


body{
    margin: 0px !important;
    font-family: "Roboto", sans-serif !important;
    color: white !important;
}

.cuerpo{
    background-color: black;
}


.navbar{
    scroll-behavior: smooth;
}


.navbar.active{
    background-color: #000;
}

.size-1{
    font-size: 25px;
}